@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: #e5e5e5
}

li {
    list-style: none;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
}

/* Header  */

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 5px 100px 25px 100px;
}

/* Main content  */

.content {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

/* Container 1 */

.container-1 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 5px 100px 60px 100px;

}

.container-1 div {
    width: 400px;
}

.container-1 div p {
    color: #e5e5e5;
}

/* Container 2 */

.container-2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-2-info {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    gap: 10px;
}

.box {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 20px;
}

/* Containter 3 */
.container-3 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 75px 200px 75px 200px;
    align-items: center;
}

.container-3 .quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    width: 750px;
    padding-bottom: 20px;
    display: flex;
    flex: initial;
    justify-content: flex-start;
}

.container-3 .thor {
    font-weight: bold;
    font-size: 24px;
    width: 750px;
    display: flex;
    flex: initial;
    justify-content: flex-end;
}


/* Footer  */

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button styling */

#signupbtn-1 {
    color: white;
    background-color: #3882F6;
    padding: 6px 16px 6px 16px;
    border-radius: 8px;
}

/* Placeholder img */

#placeholder-img {
    background-color: #6d747d;
    color: #e5e5e5;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}